[Desktop Entry]
Name=Depender
Comment=Desktop File Management Tool for Daruza
Exec=depender
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Utility;Development;
